<% if current_user && @game.users.include?(current_user) %>
  <script>
    var app = angular.module('game', []);

    app.controller('GameController', ['$scope', '$http', function ($scope, $http) {
      $scope.updating = false;
      $scope.init_game = function() {
        $http.get('<%= init_game_path %>');
      };

      var source = new EventSource('/game_events/<%= @game.id %>');
      source.addEventListener("message", function(event){
        data = JSON.parse(event.data);
        $scope.users = data.users;
        $scope.me = data.me;
        $scope.$apply();
      });
    }]);
  </script>

  <h3>Users:</h3>
  <div ng-app="game">
    <div ng-controller="GameController">
      <div ng-click="init_game()">
        <h4>Initialize</h4>
      </div>
      <p ng-repeat="user in users">
        {{user.name}}&nbsp;-&nbsp;{{user.money}}
      </p>
    </div>
  </div>
<% elsif current_user %>
  <div class="row">
    <div class="large-4 columns centered">
      <a href="<%=join_game_path(:id => @game)%>">
      <div class="panel link-panel" >
        &nbsp; <h2 style="margin-bottom:22px">Join This Game!</h2>
      </div></a>
    </div>
  </div>
<% else %>
  <h3><%= link_to 'Login', new_user_session_path %></h3>
<% end %>
